* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #e9e4dd;
    color: #2e2a27;
    line-height: 1.6;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: #f5f2ee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
}

.logo {
    font-weight: 600;
    letter-spacing: 1px;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #2e2a27;
    font-size: 14px;
}

.btn-outline {
    padding: 10px 20px;
    border: 1px solid #8b4a2b;
    text-decoration: none;
    color: #8b4a2b;
    font-weight: 500;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 140px 80px 100px;
    gap: 60px;
}

.hero-left {
    flex: 1;
}

.small-text {
    font-size: 13px;
    letter-spacing: 1px;
    color: #8b4a2b;
    margin-bottom: 20px;
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 25px;
}

.description {
    margin-bottom: 20px;
    max-width: 500px;
}

.hours {
    font-weight: 500;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.btn-light {
    padding: 12px 28px;
    border: 1px solid #2e2a27;
    text-decoration: none;
    color: #2e2a27;
}

.btn-dark {
    padding: 12px 28px;
    background: #8b4a2b;
    color: white;
    text-decoration: none;
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    
}

.hero-right img {
    width: 450px;
    border-radius: 8px;
    object-fit: contain;
    opacity: 0;
    transform: translateX(100px) scale(0.95);
    animation: heroFadeSlide 1s ease forwards;
}

@keyframes heroFadeSlide {
    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}


.featured {
    display: flex;
    justify-content: space-between;
    padding: 100px 80px;
    gap: 60px;
    background: #ffffff;
}

.featured-left {
    flex: 1;
}

.featured h2 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    margin-bottom: 20px;
}

.featured-left p {
    margin-bottom: 25px;
    max-width: 500px;
}



.featured-right {
    flex: 1;
    position: relative;
}

.featured-right img {
    width: 80%;
    border-radius: 12px;
    object-fit: contain;
    opacity: 0;
    transform: translateY(100px) scale(0.95);
    transition: all 0.8s ease;
}

.featured-right img.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.product-card {
    position: absolute;
    bottom: -60px;
    right: 20px;
    background: #f5f2ee;
    padding: 25px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.product-card h3 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
}

.price {
    font-weight: 600;
    margin-bottom: 10px;
}

.product-card a {
    display: inline-block;
    margin-top: 10px;
    color: #8b4a2b;
    text-decoration: none;
}



@media (max-width: 1000px) {

    .hero,
    .featured {
        flex-direction: column;
    }

    .hero-right img {
        width: 100%;
    }

    .product-card {
        position: static;
        margin-top: 20px;
    }
}

.menu-hero {
    background: #E5DDD2;
    text-align: center;
    padding: 120px 8% 80px;
}

.menu-hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    margin: 15px 0;
}

.menu-hero p {
    font-size: 18px;
    color: #474444;
    max-width: 600px;
    margin: 0 auto;
}

/* Menu Section */
.menu-container {
    padding: 80px 8%;
    text-align: center;
     background: #f5f2ee;
}

.menu-title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-bottom: 40px;
}

/* Filters */
.menu-filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.menu-filters button {
    background: transparent;
    border: 1px solid #f1dfce;
    padding: 8px 18px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}

.menu-filters button:hover,
.active-filter {
    background: #2e2a26;
    color: #aeabab;
    border-color: #2e2a26;
}

/* Grid */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 40px;
}

/* Card */
.menu-card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.05);
    transition: 0.3s ease;
}

.menu-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.08);
}

.menu-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.menu-card h3 {
    margin-bottom: 8px;
    font-family: 'Playfair Display', serif;
}

.menu-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.menu-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-price {
    font-weight: 400;
    color: #8b5e3c;
    font-size: 12px;
}

.menu-price:hover{
    color: #2e2a26;
    transform: scale(1.2);
}

.menu-bottom button {
    background: #2e2a26;
    color: #fff;
    border: none;
    padding: 6px 14px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-bottom button:hover {
    background: #8b5e3c;
}

/* CTA */
.menu-cta {
    background: #2e2a26;
    color: #fff;
    text-align: center;
    padding: 70px 8%;
}

.menu-cta h2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    margin-bottom: 25px;
}
